<div class="popover-inner">
    <div class="popover-header center">
        <h3 class="title">장바구니 안내</h3>
    </div>
    <div class="popover-content">
        <ul class="info-list">
            <li>장바구니에서는 프로모션 할인금액이 표기됩니다.</li>
            <li>최종 가격은 [주문/결제]화면에서 꼭 체크하세요</li>
            <li>프로모션 할인금액: 공급가격에서 프로모션 가격이 할인된 결제예정금액입니다.</li>
        </ul>
        <div class="info-box">
            <ul class="info-list">
                <li>장바구니에서 보이는 결제 예정 가격은 이렇습니다.</li>
                <li>(예) 공급가 1,000원 상품인 경우</li>
                <li>프로모션 10%, 쿠폰 5% 지급인 경우 (쿠폰 할인금액은 주문/결제에서 확인 가능)</li>
                <li>->1,000원(공급가) - 100원(프로모션 할인금액) = 900원</li>
            </ul>
        </div>
    </div>
    <div class="popover-footer">
        <button type="button" class="btn-confirm">확인</button>
    </div>
</div>