<div class="popover-inner">
    <div class="popover-header">
        <h3 class="title">지정 휴무일 배송안내</h3>
    </div>
    <div class="popover-content">
        <div class="info-text">
            현재 주문하실경우 진로마트 님께서 지정하신 휴무일에 배송예정으로 수령에 어려움이 있을 수 있습니다.<br>
            <span class="sub">(주문/결제 가능)</span>
            휴무일 변경을 원하실 경우 영업담당에게 요청하시면 변경 도와드리겠습니다.
        </div>

        <div class="info-table-wrap">
            <table class="info-table">
                <colgroup>
                    <col style="width: 25%;">
                    <col style="width: 25%;">
                    <col style="width: 25%;">
                    <col style="width: 25%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>휴무일</th>
                        <th>주문등록일</th>
                        <th>발주일</th>
                        <th>배송예정일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="popover-footer">
        <button type="button" class="btn-confirm">확인</button>
    </div>
</div>