<div class="popover-inner">
    <div class="popover-header center">
        <h3 class="title">포인트 적립/사용안내</h3>
    </div>
    <div class="popover-content">
        <ul class="info-list">
            <li>포인트 사용 및 적립 상세내역은 마이페이지에서 확인하실 수 있습니다.</li>
            <li>POINT는 상품 배송일에 자동 적립됩니다.</li>
            <li>일부 특별할인 상품은 적립이 제외 될 수 있습니다.</li>
            <li>포인트 사용 시, 일반 결제수단으로 최소 1,000원 이상 결제해야 합니다.</li>
        </ul>
    </div>
    <div class="popover-footer">
        <button type="button" class="btn-confirm">확인</button>
    </div>
</div>