<div class="popover-inner">
    <div class="popover-header center">
        <h3 class="title">당월 배송금액(세제외) 안내</h3>
    </div>
    <div class="popover-content">
        <ul class="info-list">
            <li>장려금은 세제외 금액을 기준으로 지급되오니 참고하시기 바랍니다.</li>
            <li>세포함 당월 배송금액은 마이페이지에서 확인하실 수 있습니다.</li>
            <li>장려금 기준은 마이페이지-회원정보 수정에서 확인 가능합니다.</li>
            <li>마이페이지 바로가기 (클릭)</li>
        </ul>
    </div>
    <div class="popover-footer">
        <button type="button" class="btn-confirm">확인</button>
    </div>
</div>