// 장바구니 페이지 스타일
.cart-page {
    padding: rem(60) 0;

    .page-title {
        font-size: $fs-28;
        font-weight: $fw-bold;
        margin-bottom: rem(40);
        text-align: center;
    }

    .cart-container {
        display: flex;
        gap: rem(40);
        align-items: flex-start;
    }

    .cart-content {
        flex: 1;

        .cart-tabs {
            display: flex;
            border-bottom: 2px solid $gray-900;
            margin-bottom: rem(20);

            .tab-item {
                padding: rem(15) rem(25);
                font-size: $fs-16;
                font-weight: $fw-bold;
                color: $gray-600;
                cursor: pointer;

                &.active {
                    color: $gray-900;
                    border-bottom: 4px solid $primary; // 강조
                    margin-bottom: -2px;
                }
            }
        }

        .free-shipping-info {
            background-color: $gray-50;
            padding: rem(20);
            border-radius: rem(8);
            margin-bottom: rem(30);
            font-size: $font-size-sm;

            .progress-bar {
                height: rem(8);
                background-color: $gray-200;
                border-radius: rem(4);
                margin-top: rem(10);
                overflow: hidden;

                .progress {
                    height: 100%;
                    background-color: $primary;
                }
            }
        }

        .cart-group {
            margin-bottom: rem(40);

            .group-header {
                display: flex;
                align-items: center;
                gap: rem(10);
                padding: rem(15) 0;
                border-bottom: 1px solid $gray-800;
                font-weight: $font-weight-bold;
                font-size: $font-size-lg;

                .icon {
                    width: rem(24);
                    height: rem(24);
                }
            }

            .cart-item {
                display: flex;
                align-items: center;
                padding: rem(30) 0;
                border-bottom: 1px solid $gray-200;

                .item-checkbox {
                    margin-right: rem(20);
                }

                .item-image {
                    width: rem(120);
                    height: rem(120);
                    background-color: $gray-100;
                    border-radius: rem(8);
                    margin-right: rem(25);
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .item-info {
                    flex: 1;

                    .brand {
                        font-size: $fs-12;
                        color: $gray-600;
                        margin-bottom: rem(5);
                    }

                    .name {
                        font-size: $fs-16;
                        font-weight: $fw-medium;
                        color: $gray-900;
                        margin-bottom: rem(10);
                    }

                    .options {
                        font-size: $fs-12;
                        color: $gray-700;
                    }
                }

                .item-quantity {
                    display: flex;
                    align-items: center;
                    border: 1px solid $gray-400;
                    border-radius: $radius-sm;
                    margin: 0 rem(40);

                    button {
                        width: rem(32);
                        height: rem(32);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: rem(18);
                    }

                    input {
                        width: rem(40);
                        text-align: center;
                        border: none;
                        font-size: $fs-14;
                    }
                }

                .item-price {
                    width: rem(120);
                    text-align: right;

                    .original {
                        font-size: $fs-12;
                        color: $gray-500;
                        text-decoration: line-through;
                        margin-bottom: rem(4);
                    }

                    .final {
                        font-size: $fs-18;
                        font-weight: $fw-bold;
                        color: $gray-900;
                    }
                }

                .btn-delete {
                    margin-left: rem(30);
                    color: $gray-400;
                }
            }
        }
    }

    .cart-sidebar {
        width: rem(340);
        position: sticky;
        top: rem(20);

        .sidebar-box {
            border: 1px solid $gray-200;
            border-radius: rem(12);
            padding: rem(30);
            background-color: $white;

            .box-title {
                font-size: $font-size-lg;
                font-weight: $font-weight-bold;
                margin-bottom: rem(25);
            }

            .price-row {
                display: flex;
                justify-content: space-between;
                margin-bottom: rem(15);
                font-size: $font-size-md;
                color: $gray-700;

                &.total {
                    margin-top: rem(20);
                    padding-top: rem(20);
                    border-top: 1px solid $gray-100;
                    color: $gray-900;
                    font-weight: $font-weight-bold;

                    .value {
                        font-size: $font-size-xl;
                        color: $secondary; // 빨강
                    }
                }
            }

            .btn-order {
                width: 100%;
                height: rem(54);
                background-color: $secondary;
                color: $white;
                font-size: $font-size-lg;
                font-weight: $font-weight-bold;
                border-radius: rem(8);
                margin-top: rem(30);
            }
        }
    }
}