@import "../abstract/functions";
@import "../abstract/variables";
@import "../abstract/mixins";
@import "../base/reset";
@import "../base/common";
@import "../base/icons";

// 공통 컴포넌트
@import "components/header";
@import "components/footer";

// 페이지별 스타일
@import "pages/cart";
@import "pages/checkout";

// Mobile 전용 스타일 (APK 대응)

html,
body {
    width: 100%;
    overflow-x: clip; // 가로 스크롤 방지 (sticky 지원 개선)
}

#wrap {
    position: relative;
    width: 100%;
    min-width: 0 !important; // PC의 1280px min-width 설정 무효화
}


main {
    padding-bottom: rem(60); // 하단 탭바 공간
}

#mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: rem(60);
    background: $white;
    border-top: 1px solid $gray-200;
    display: flex;
    justify-content: space-around;
    align-items: center;
}