// 공통 아이콘 스타일 세팅

// 마스크 아이콘 믹스인
@mixin icon-mask($url, $size: rem(24), $color: currentColor) {
    $width: if(type-of($size)=='list', nth($size, 1), $size);
    $height: if(type-of($size)=='list', nth($size, 2), $size);

    display: inline-block;
    width: $width;
    height: $height;
    background-color: $color;
    -webkit-mask: url($url) no-repeat center;
    mask: url($url) no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.icon,
[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    // background-color: currentColor;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

// .icon { } - 하위 호환성 유지용 빈 클래스 (제거됨)

// 모바일 플러스 메뉴
.icon-mobile-plus-menu {
    @include icon-mask('#{$icon-path}/mobile-plus-menu.svg', rem(24));
}

// 헤더 아이콘 - 절대 경로 적용
.icon-search {
    @include icon-mask('#{$icon-path}/search.svg', rem(24));
}

.icon-mobile-search {
    @include icon-mask('#{$icon-path}/main/icon-mobile-search.svg', rem(24), $gray-999);
}

.icon-clear {
    @include icon-mask('#{$icon-path}/clear.svg', rem(24));
}

.icon-archive {
    @include icon-mask('#{$icon-path}/product-tag.svg', rem(24));
}

.icon-document {
    @include icon-mask('#{$icon-path}/product-tag.svg', rem(24));
}

.icon-excel {
    display: inline-block;
    width: rem(16);
    height: rem(16);
    background: url('#{$icon-path}/document.svg') no-repeat center / contain;
    vertical-align: middle;
}

// 헤더 서브 - 히스토리 백 아이콘
.icon-history {
    display: inline-block;
    width: rem(24);
    height: rem(24);
    background: url('#{$icon-path}/icons-history.svg') no-repeat center / contain; // 이미지 형태로 적용
    vertical-align: middle;
}



.icon-clock {
    @include icon-mask('#{$icon-path}/history.svg', rem(24));
}

.icon-cart {
    @include icon-mask('#{$icon-path}/cart.svg', rem(24));
}

.icon-coupon {
    @include icon-mask('#{$icon-path}/coupon.svg', rem(24));
}

.icon-ticket {
    @include icon-mask('#{$icon-path}/coupon.svg', rem(24));
}

.icon-heart {
    @include icon-mask('#{$icon-path}/heart.svg', rem(21));
}

.icon-user {
    @include icon-mask('#{$icon-path}/user.svg', rem(24));
}

.icon-chevron-down {
    @include icon-mask('#{$icon-path}/chevron-down.svg', rem(14));
}

.icon-chevron-up {
    @include icon-mask('#{$icon-path}/chevron-down.svg', rem(14));
    transform: rotate(180deg);
}

.icon-chevron-right {
    @include icon-mask('#{$icon-path}/chevron-right.svg', rem(24));
}

.icon-shipping {
    @include icon-mask('#{$icon-path}/shipping.svg', rem(24));
}

.icon-upload {
    @include icon-mask('#{$icon-path}/file_upload.svg', rem(16));
}

.icon-file-upload {
    @include icon-mask('#{$icon-path}/file_upload.svg', rem(16));
}

.icon-file-download {
    @include icon-mask('#{$icon-path}/file_download.svg', rem(18));
}

.icon-small-arrow {
    @include icon-mask('#{$icon-path}/icon-small-arrow.svg', rem(10));
}

// 공통/기타 아이콘
.icon-toggle {
    @include icon-mask('#{$icon-path}/chevron-down.svg', rem(16));
}

.icon-info {
    @include icon-mask('#{$icon-path}/info.svg', rem(16));
}

.icon-heart-fill {
    @include icon-mask('#{$icon-path}/heart-fill.svg', rem(24));
    color: $point-red;
}

.icon-trash {
    @include icon-mask('#{$icon-path}/trash.svg', rem(24));
}

.icon-star {
    @include icon-mask('#{$icon-path}/sparkling.svg', rem(16));
}

.icon-plus {
    @include icon-mask('#{$icon-path}/plus.svg', rem(16));
}

.icon-minus {
    @include icon-mask('#{$icon-path}/minus.svg', rem(16));
}

.icon-content-copy {
    @include icon-mask('#{$icon-path}/content_copy.svg', rem(16));
}

.icon-slider-arrow {
    @include icon-mask('#{$icon-path}/slider_arrow_right.svg', rem(20));
    color: $white;
}

.icon-home {
    @include icon-mask('#{$icon-path}/home.svg', rem(24));
}

.icon-location,
.icon-loc {
    @include icon-mask('#{$icon-path}/location.svg', rem(24));
}

.icon-truck {
    @include icon-mask('#{$icon-path}/truck.svg', rem(24));
}

.icon-chevron-left {
    @include icon-mask('#{$icon-path}/chevron-right.svg', rem(24));
    transform: rotate(180deg);
}

// Time Sale Icons
.icon-arrow-right-main {
    @include icon-mask('#{$icon-path}/main/arrow_right.svg', rem(20));
}

.icon-time-alarm {
    display: inline-block;
    width: rem(24);
    height: rem(24);
    background: url('#{$icon-path}/main/icon-main-time.svg') no-repeat center / contain;
    vertical-align: middle;
}

.icon-btn-prev {
    @include icon-mask('#{$icon-path}/main/btn_prev.svg', rem(24));
}

.icon-btn-next {
    @include icon-mask('#{$icon-path}/main/btn_next.svg', rem(24));
}

.icon-minus-main {
    @include icon-mask('#{$icon-path}/main/icon_minus.svg', rem(12));
}

.icon-plus-main {
    @include icon-mask('#{$icon-path}/main/icon_plus.svg', rem(12));
}

.icon-cart-main {
    @include icon-mask('#{$icon-path}/main/icon_cart.svg', rem(24));
}

.icon-heart-main {
    @include icon-mask('#{$icon-path}/main/icon_heart.svg', rem(24));
}



// Main Page Icons
.icon-main-pause {
    @include icon-mask('../..//icons/main/icon-main-pause.svg', rem(24));
}

// 모바일 전용 pause/play
.icon-mo-pause {
    @include icon-mask('#{$icon-path}/main/mo-icon-pause.svg', rem(18), $white);
}

.icon-mo-play {
    @include icon-mask('#{$icon-path}/main/mo-icon-play.svg', rem(11), $white);
}

.icon-main-play {
    @include icon-mask('../..//icons/main/icon-main-play.svg', rem(26));
}

.icon-main-plus {
    @include icon-mask('../..//icons/main/icon-main-plus.svg', rem(24));
}

.icon-main-prev {
    @include icon-mask('../..//icons/main/icon-main-prev.svg', rem(24));
}

.icon-main-next {
    @include icon-mask('../..//icons/main/icon-main-next.svg', rem(24));
}

.icon-coupon-product {
    display: inline-block;
    width: rem(55);
    height: rem(18);
    background: url('../..//icons/main/icon-coupon.svg') no-repeat center / contain;
}

.icon-coupon-tag {
    display: inline-block;
    width: rem(18);
    height: rem(14);
    background: url('../..//icons/main/icon-coupon.svg') no-repeat center / contain;
    vertical-align: middle;
    margin-right: rem(2);
}

// Browser Zoom Icons
.icon-zoom-in {
    @include icon-mask('../..//icons/main/zoom_in.svg', rem(30));
}

.icon-zoom-out {
    @include icon-mask('../..//icons/main/zoom_out.svg', rem(30));
}

// Float Navigation Icons
.icon-nav-back {
    @include icon-mask('../..//icons/icon-history-back.svg', rem(24));
}

.icon-nav-top {
    @include icon-mask('../..//icons/icon-top.svg', rem(24));
    transform: rotate(90deg);
}

.icon-quick-top {
    @include icon-mask('#{$icon-path}/icon-quick-top.svg', rem(20));
}

// Mobile Header Icons
.icon-menu {
    @include icon-mask('#{$icon-path}/menu.svg', rem(24));
}

.icon-category-menu {
    @include icon-mask('#{$icon-path}/main/icon-category-menu.svg', rem(24));
}

.icon-alarm {
    @include icon-mask('#{$icon-path}/bell.svg', rem(24));
}

// 카테고리 상품 정렬 드롭다운 아이콘
.icon-down-bullet {
    @include icon-mask('/assets/icons/icon-down-bullet.svg', rem(24), $gray-999);
}

// 페이지네이션 화살표 아이콘
.icon-page-bullet {
    @include icon-mask('#{$icon-path}/category-sep-bullet.svg', rem(14));
}

// 카테고리 구분자 아이콘 (Breadcrumb Separator)
.icon-category-sep-bullet {
    @include icon-mask('#{$icon-path}/category-sep-bullet.svg', rem(14), $gray-700);
    width: rem(7); // 피그마 분석: 너비 7.17px 기반
    vertical-align: -#{rem(1)}; // 중앙 정렬 보정
}

// 검색 필터 초기화 아이콘
.icon-reset {
    @include icon-mask('#{$icon-path}/refresh.svg', rem(18));
}

.icon-refresh {
    @include icon-mask('#{$icon-path}/icons-refresh.svg', rem(16));
}