// 공통 아이콘 스타일 세팅
$icon-path: '/assets/icons'; // 루트 절대 경로 적용

// 마스크 아이콘 믹스인
@mixin icon-mask($url, $size: rem(24), $color: currentColor) {
    display: inline-block;
    width: $size;
    height: $size;
    background-color: $color;
    -webkit-mask: url($url) no-repeat center;
    mask: url($url) no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.icon,
[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    // background-color: currentColor;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.icon {
    // 하위 호환성 유지용 빈 클래스
}

// 헤더 아이콘 - 절대 경로 적용
.icon-search {
    @include icon-mask('#{$icon-path}/search.svg', rem(24));
}

.icon-clear {
    @include icon-mask('#{$icon-path}/clear.svg', rem(24));
}

.icon-archive {
    @include icon-mask('#{$icon-path}/product-tag.svg', rem(24));
}

.icon-document {
    @include icon-mask('#{$icon-path}/product-tag.svg', rem(24));
}

.icon-excel {
    display: inline-block;
    width: rem(16);
    height: rem(16);
    background: url('#{$icon-path}/document.svg') no-repeat center / contain;
    vertical-align: middle;
}

.icon-history {
    @include icon-mask('#{$icon-path}/history-back.svg', rem(24));
}

.icon-clock {
    @include icon-mask('#{$icon-path}/history.svg', rem(24));
}

.icon-cart {
    @include icon-mask('#{$icon-path}/cart.svg', rem(24));
}

.icon-coupon {
    @include icon-mask('#{$icon-path}/coupon.svg', rem(24));
}

.icon-ticket {
    @include icon-mask('#{$icon-path}/coupon.svg', rem(24));
}

.icon-heart {
    @include icon-mask('#{$icon-path}/heart.svg', rem(21));
}

.icon-user {
    @include icon-mask('#{$icon-path}/user.svg', rem(24));
}

.icon-chevron-down {
    @include icon-mask('#{$icon-path}/chevron-down.svg', rem(14));
}

.icon-chevron-up {
    @include icon-mask('#{$icon-path}/chevron-down.svg', rem(14));
    transform: rotate(180deg);
}

.icon-chevron-right {
    @include icon-mask('#{$icon-path}/chevron-right.svg', rem(24));
}

.icon-shipping {
    @include icon-mask('#{$icon-path}/shipping.svg', rem(24));
}

.icon-upload {
    @include icon-mask('#{$icon-path}/file_upload.svg', rem(16));
}

// 공통/기타 아이콘
.icon-toggle {
    @include icon-mask('#{$icon-path}/chevron-down.svg', rem(16));
}

.icon-info {
    @include icon-mask('#{$icon-path}/info.svg', rem(16));
}

.icon-heart-fill {
    @include icon-mask('#{$icon-path}/heart-fill.svg', rem(24));
    color: $point-red;
}

.icon-trash {
    @include icon-mask('#{$icon-path}/trash.svg', rem(24));
}

.icon-star {
    @include icon-mask('#{$icon-path}/sparkling.svg', rem(16));
}

.icon-plus {
    @include icon-mask('#{$icon-path}/plus.svg', rem(16));
}

.icon-minus {
    @include icon-mask('#{$icon-path}/minus.svg', rem(16));
}

.icon-content-copy {
    @include icon-mask('#{$icon-path}/content_copy.svg', rem(16));
}

.icon-slider-arrow {
    @include icon-mask('#{$icon-path}/slider_arrow_right.svg', rem(20));
    color: $white;
}

.icon-home {
    @include icon-mask('#{$icon-path}/home.svg', rem(24));
}

.icon-location,
.icon-loc {
    @include icon-mask('#{$icon-path}/location.svg', rem(24));
}

.icon-truck {
    @include icon-mask('#{$icon-path}/truck.svg', rem(24));
}

.icon-chevron-left {
    @include icon-mask('#{$icon-path}/chevron-right.svg', rem(24));
    transform: rotate(180deg);
}

// Time Sale Icons
.icon-arrow-right-main {
    @include icon-mask('#{$icon-path}/main/arrow_right.svg', rem(20));
}

.icon-time-alarm {
    display: inline-block;
    width: rem(24);
    height: rem(24);
    background: url('#{$icon-path}/main/icon-main-time.svg') no-repeat center / contain;
    vertical-align: middle;
}

.icon-btn-prev {
    @include icon-mask('#{$icon-path}/main/btn_prev.svg', rem(24));
}

.icon-btn-next {
    @include icon-mask('#{$icon-path}/main/btn_next.svg', rem(24));
}

.icon-minus-main {
    @include icon-mask('#{$icon-path}/main/icon_minus.svg', rem(12));
}

.icon-plus-main {
    @include icon-mask('#{$icon-path}/main/icon_plus.svg', rem(12));
}

.icon-cart-main {
    @include icon-mask('#{$icon-path}/main/icon_cart.svg', rem(24));
}

.icon-heart-main {
    @include icon-mask('#{$icon-path}/main/icon_heart.svg', rem(24));
}



// Main Page Icons
.icon-main-pause {
    @include icon-mask('/assets/icons/main/icon-main-pause.svg', rem(24));
}

.icon-main-play {
    @include icon-mask('/assets/icons/main/icon-main-play.svg', rem(24));
}

.icon-main-plus {
    @include icon-mask('/assets/icons/main/icon-main-plus.svg', rem(24));
}

.icon-main-prev {
    @include icon-mask('/assets/icons/main/icon-main-prev.svg', rem(24));
}

.icon-main-next {
    @include icon-mask('/assets/icons/main/icon-main-next.svg', rem(24));
}

// Browser Zoom Icons
.icon-zoom-in {
    @include icon-mask('/assets/icons/main/zoom_in.svg', rem(30));
}

.icon-zoom-out {
    @include icon-mask('/assets/icons/main/zoom_out.svg', rem(30));
}

// Float Navigation Icons
.icon-nav-back {
    @include icon-mask('/assets/icons/prev-history.svg', rem(24));
}

.icon-nav-top {
    @include icon-mask('/assets/icons/prev-history.svg', rem(24));
    transform: rotate(90deg);
}