// 공통 믹스인 정의

@use "sass:color";

// 플렉스 박스 중앙 정렬
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// 텍스트 한 줄 줄임표
@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// 텍스트 여러 줄 줄임표
@mixin multi-ellipsis($lines) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin icon-mask($url, $size: rem(13), $color: currentColor) {
    $width: if(type-of($size)=='list', nth($size, 1), $size);
    $height: if(type-of($size)=='list', nth($size, 2), if(type-of($size)=='arglist', nth($size, 2), $size));

    display: inline-block;
    width: $width;
    height: $height;
    background-color: $color;
    -webkit-mask: url($url) no-repeat 50% 50%;
    mask: url($url) no-repeat 50% 50%;
    -webkit-mask-size: contain;
    mask-size: contain;
}

@mixin btn-active-styles($bg-color: $gray-100, $border-color: $gray-500) {
    background-color: $bg-color;
    border-color: $border-color;
}

@mixin btn-hover-effect($bg-color: $gray-100, $border-color: $gray-500) {
    transition: background-color 0.2s ease;

    &:hover {
        @include btn-active-styles($bg-color, $border-color);
    }
}

// 모바일 전용 터치 피드백 (배경색 어둡게 변경)
@mixin mobile-touch-effect($bg: $white) {
    -webkit-tap-highlight-color: transparent;

    &:active {
        background-color: color.adjust($bg, $lightness: -10%); // 버튼 배경 darken 대신 color.adjust 적용
    }
}

// 말줄임표 처리 (Truncate text)
@mixin truncate($lines: 1) {
    @if $lines ==1 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @else {
        display: -webkit-box;
        -webkit-line-clamp: $lines;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

// 공통 트랜지션 적용
@mixin hover-transition($speed: $transition-speed) {
    transition: all $speed ease;
}