@use "sass:math";

.header-nav {
    .main-menu {
        li {
            position: relative; // 레이어 기준점
        }
    }
}

.brand-menu-layer {
    position: absolute;
    top: calc(100% + rem(4)); // 내비게이션 바 바로 아래
    left: 0; // 부모 li 기준
    z-index: 1000;
    width: rem(560);
    padding: rem(24);
    background-color: $white;
    border: 1px solid $point-dark-red;
    box-shadow: 0 rem(8) rem(16) rgba(0, 0, 0, 0.1);

    .brand-list {
        display: grid;
        grid-template-columns: repeat(6, 1fr); // 6fr
        grid-template-rows: auto; // auto
        gap: rem(12); // gap 12px
        list-style: none;

        li {
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 !important;
                gap: rem(8);
                text-decoration: none;

                .thumb {
                    width: rem(64);
                    height: rem(64);
                    border-radius: 50%;
                    background-color: $gray-150;
                    // border: 1px solid $gray-100;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: border-color 0.2s;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .name {
                    font-size: rem(12); // font-size: 13px
                    color: $gray-700; // color: #666
                    font-weight: $fw-medium; // font-weight: 500
                    line-height: 1.2; // line-height: 1.2
                    text-align: center;
                    white-space: nowrap;
                }

                &:hover {
                    .thumb {
                        // border-color: $primary-red;
                    }

                    .name {
                        color: $black;
                    }
                }
            }
        }
    }
}