// 헤더 공통 스타일

.header {
    background-color: $white;

    // 헤더 전체 컨테이너 1280px 적용
    >.container {
        max-width: rem(1280);
        margin: 0 auto;
    }
}


// 상단 정보 바 (당월배송금액 등)
.header-info-bar {
    display: none; // 기본적으로 숨김
    padding: rem(8) 0;

    .main-page & {
        display: block; // 메인 페이지에서만 노출
    }

    .info-list {
        display: flex;
        justify-content: flex-end;
        gap: rem(20);
        list-style: none;

        li {
            font-size: rem(13);
            color: $gray-900;
            position: relative;
            font-weight: $fw-regular;

            i {
                position: relative;
                top: rem(-2);
                background-color: $gray-600;


                &:hover {
                    background-color: $gray-900;
                }
            }

            &::after {
                content: '';
                position: absolute;
                right: rem(-10);
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: rem(10);
                background-color: $gray-500;
            }

            &:last-child::after,
            &:nth-last-child(2)::after {
                display: none;
            }

            b {
                font-weight: $fw-regular;
                color: $gray-600;
                margin-left: rem(4);
            }

            // 브라우저 줌 컨트롤 (info-bar 내 배치)
            .browser-zoom {
                display: flex;
                align-items: center;
                gap: rem(6);

                button {
                    background: none;
                    border: none;
                    cursor: pointer;
                    @include flex-center;
                    width: rem(24);
                    height: rem(24);
                    color: $gray-700;
                    transition: color $transition-speed ease;

                    &:hover {
                        color: $black;
                    }
                }

                .zoom-value {
                    font-size: rem(13);
                    color: $gray-700;
                    font-weight: $fw-regular;
                    min-width: rem(32);
                    text-align: center;
                }
            }
        }
    }
}

// 메인 헤더 (로고, 검색, 아이콘)
.header-main {
    padding: rem(20) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(134);

    .logo-area {
        display: flex;
        align-items: flex-end;
        gap: rem(12);
        min-width: rem(250);

        .logo {
            a {
                display: block;
                width: rem(113);
                height: rem(47);
                // Ensure path uses /assets/images/common/ as requested for the new logo
                background: url('../../images/common/eclub-logo.svg') no-repeat center / contain;
                text-indent: -9999px;
            }
        }

        .slogan {
            font-size: rem(12);
            color: $gray-800;
            font-weight: $fw-semibold;
        }
    }

    .search-box {
        width: 100%;
        max-width: 100%;

        .search-area {
            position: relative;
            border: 1px solid $gray-700; // 보더 1px, 다크 그레이색상 변경
            border-radius: 0; // 사각형 디자인 적용
            padding: 0 rem(16); // 내부 좌우 패딩 조정
            background-color: $white;
            height: rem(40); // 높이 rem(40)으로 조정
            display: flex;
            align-items: center;

            input {
                flex: 1;
                border: none;
                height: 100%;
                outline: none;
                font-size: rem(15);
                color: $black;
                background: transparent;

                &::placeholder {
                    color: $gray-600; // 플레이스홀더 색상 변경
                }
            }

            .btn-search {
                flex-shrink: 0;
                @include flex-center;
                width: rem(24);
                height: rem(24);
                border: none;
                background: none;
                cursor: pointer;
                color: $gray-800; // 아이콘 색상 변경

                &:hover {
                    @include btn-hover-effect;
                }
            }
        }
    }

    .user-controls {
        display: flex;
        gap: rem(24);
        align-items: center;


        .user-menu {
            display: flex;
            gap: rem(18);
            align-items: center;
        }

        .icon-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(32);
            height: rem(32);
            position: relative;
            color: $gray-700;
            transition: color 0.2s ease;

            &:hover {
                color: $gray-900;
            }

            &.active:not(.cart):not(.coupon) {
                &::after {
                    content: '';
                    position: absolute;
                    top: rem(-2);
                    right: rem(0);
                    width: rem(6);
                    height: rem(6);
                    background-color: $color-search-border;
                    border-radius: 50%;
                }
            }

            .cart-count,
            .coupon-count {
                position: absolute;
                top: rem(-8);
                right: rem(-8);
                border-radius: 40%;
                padding: rem(2) rem(6);
                background-color: $color-search-border;
                color: $gray-700;
                font-size: rem(12);
                font-weight: $fw-bold;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

// 내비게이션 바
.header-nav {
    padding: rem(12) 0 rem(16);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-left {
        display: flex;
        align-items: center;
        gap: rem(16);

        .category-toggle {
            display: flex;
            align-items: center;
            gap: rem(8);
            font-size: rem(14);
            font-weight: $fw-bold;
            color: $gray-900;
            background: none;
            border: none;
            cursor: pointer;

            i {
                color: $gray-900;
            }

            &:hover i {
                color: $black;
            }
        }

        .main-menu {
            display: flex;
            gap: rem(8);
            list-style: none;

            a {
                padding: rem(6) rem(7);
                font-size: rem(14);
                font-weight: $fw-semibold;
                color: $gray-900;
                text-decoration: none;

                &:hover,
                &.active {
                    color: $primary-red;
                }
            }
        }
    }

    .nav-right {
        .user-info {
            display: flex;
            align-items: center;
            gap: rem(16);
            font-size: rem(13);
            color: $gray-700;
            font-weight: $fw-regular;

            span {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    right: rem(-8);
                    top: 50%;
                    transform: translateY(-50%);
                    width: 1px;
                    height: rem(10);
                    background-color: $gray-700;
                }

                &:last-child::after {
                    display: none;
                }

                .customer-grade {
                    font-size: rem(10);
                    line-height: 120%;
                    font-weight: $fw-regular;
                    font-style: normal;
                    padding: rem(2) rem(6);
                    color: $white;
                    background: $gray-700;
                    display: inline-flex;
                    align-items: center;
                    gap: rem(4);
                }
            }

            .btn-logout {
                color: $gray-700;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}