@import "../abstract/functions";
@import "../abstract/variables";
@import "../abstract/mixins";
@import "../base/reset";
@import "../base/common";
@import "../base/icons";

// 공통 컴포넌트
@import "components/header";
@import "components/line-banner";
@import "components/brand-intro";
@import "components/footer";
@import "components/popover";
@import "components/toast";
@import "components/modal";
@import "components/modal-excel";
@import "components/modal-coupon";
@import "components/modal-shipping-coupon";
@import "components/modal-referral";
@import "components/quick-menu";
@import "components/loading";

// 페이지별 스타일
@import "pages/home";
@import "pages/cart";
@import "pages/checkout";
@import "pages/order_complete";

// PC 전용 스타일
#wrap {
    min-width: $pc-layout-min-width;
}

.container {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
}