<div class="modal-header type-center no-close">
    <h3 class="modal-title">국내 판매 전용 상품 안내</h3>
</div>
<div class="modal-body alert-body">
    <div class="alert-message">
        금일 주문한 상품 중 일부 상품은 국내에서만 판매가 가능합니다.(해외 판매 불가)
    </div>

    <div class="info-table-wrap">
        <table class="info-table">
            <thead>
                <tr>
                    <th class="col-no">No</th>
                    <th class="col-name">[상품코드] 상품명</th>
                    <th class="col-qty">주문수량</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3" class="empty">내용이 없습니다.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer alert-footer">
    <div class="btn-group">
        <button type="button" class="btn-cancel btn-modal-close">취소</button>
        <button type="button" class="btn-confirm">다음</button>
    </div>
</div>