<div class="modal-header type-center no-close">
    <h3 class="modal-title">주문 불가 안내</h3>
</div>
<div class="modal-body alert-body">
    <p class="alert-message">안녕하세요 이클럽입니다.</p>
    <p class="alert-message">현재 3개월 이상 미주문으로 인하여 주문이 불가합니다.</p>
    <p class="alert-message">주문 제한 해지 요청하시겠습니까?</p>
</div>
<div class="modal-footer alert-footer">
    <div class="btn-group">
        <button type="button" class="btn-cancel btn-modal-close">아니요</button>
        <button type="button" class="btn-confirm btn-modal-close">예</button>
    </div>
</div>