<div class="modal-header type-center no-close">
    <h3 class="modal-title">상품 가격 변동 안내 (2026.02.10)</h3>
</div>
<div class="modal-body alert-body">
    <div class="alert-message price-check">
        장바구니에 담은 시점과 현재 가격이 달라진 상품이 있습니다. 아래 내역을 확인해 주세요.
    </div>

    <div class="info-table-wrap ver-table">
        <table class="info-table">
            <colgroup>
                <col width="26%">
                <col width="*">
            </colgroup>
            <tbody>
                <tr>
                    <th> <span>장바구니<br>당시 공급가</span></th>
                    <td>
                        <em class="fc06" id="layerChgUprice">9,006</em>원<br>
                        담긴일자 : <span id="layerChgOrdDate">2026-02-12</span>
                    </td>
                </tr>
                <tr>
                    <th> <span>현재 공급가</span></th>
                    <td>
                        <em class="fc06" id="layerChgEnuriPrice">9,480</em>원
                        [<span id="layerChgGapPrice">474</span>원<span id="layerChgGapText">인상</span>]
                    </td>
                </tr>
                <tr>
                    <th> <span>상품코드</span></th>
                    <td>
                        <span id="layerChgSkuCode">8801007406299</span>
                    </td>
                </tr>
                <tr>
                    <th> <span>상품명</span></th>
                    <td>
                        <span id="layerChgSkuNm">CJ비비고김치왕교자420g*2</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer alert-footer">
    <div class="btn-group">
        <button type="button" class="btn-confirm btn-modal-close">확인</button>
    </div>
</div>