<!-- 선택상품 담기 모달 헤더 -->
<div class="modal-content add-cart-modal-content">
    <div class="modal-header add-cart-header">
        <div class="slider-title-wrap">
            <button type="button" class="btn-slide-prev">
                <i class="icon-nav-back"></i>
            </button>
            <h3 class="modal-title">지금 바로 구매 가능한 상품을 모았어요!</h3>
            <button type="button" class="btn-slide-next">
                <i class="icon-nav-back"></i>
            </button>
        </div>
        <button type="button" class="btn-modal-close">
            <i class="icon-clear"></i>
        </button>
    </div>
    <!-- 선택상품 슬라이더 영역 -->
    <div class="modal-body add-cart-body">
        <div class="add-cart-slider">
            <div class="add-cart-list product-list list-slider"></div>
        </div>
    </div>
</div>