<div class="modal-header type-center no-close">
    <h3 class="modal-title">본인인증 미회원 대상 안내</h3>
</div>
<div class="modal-body alert-body">
    <p class="alert-message">배송 및 이벤트 정보 등 수신 받기 위해선 본인인증이 필요합니다.</p>
    <p class="alert-message">본인인증 페이지로 이동하겠습니까?</p>
    <p class="alert-message">※ 본인인증은 마이페이지 > [회원정보]에서 가능합니다.</p>
</div>
<div class="modal-footer alert-footer">
    <div class="btn-group">
        <button type="button" class="btn-cancel btn-modal-close">아니요</button>
        <button type="button" class="btn-confirm btn-modal-close">예</button>
    </div>
</div>