// 모바일 푸터
.footer {
    background-color: $bg-footer; // 푸터 배경색
    padding: rem(22) rem(24) rem(34); // 내부 여백
    text-align: left;

    .footer-container {
        width: 100%;
    }

    // 서비스 문의 버튼 (FAQ, 공지사항)
    .footer-buttons {
        display: flex;
        justify-content: space-between;
        gap: rem(16);
        margin-bottom: rem(15);

        .btn-footer {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: rem(30); // 버튼 높이
            background-color: $white;
            border: 1px solid $gray-500; // 버튼 외곽선
            border-radius: rem(3);
            font-size: rem(13);
            font-weight: $fw-medium;
            color: $black;
            text-decoration: none;
        }
    }

    // 사용자 정보
    .user-info-simple {
        padding: rem(17) 0 rem(28);

        .user-header {
            display: flex;
            align-items: center;
            margin-bottom: rem(9);

            .icon-loc {
                display: inline-block;
                width: rem(13);
                height: rem(17);
                background-color: $gray-600; // 위치 아이콘
                margin-right: rem(6);
            }

            .text {
                font-size: rem(13);
                color: $gray-700;
                line-height: rem(18);

                .store {
                    font-weight: $fw-regular;
                    margin-right: rem(3);
                }

                .name {
                    font-weight: $fw-semibold;
                }
            }
        }

        .info-list {
            display: flex;
            flex-direction: column;
            gap: rem(4);

            li {
                display: flex;
                align-items: flex-start;
                font-size: rem(13);
                line-height: rem(19);

                .label {
                    display: inline-block;
                    width: rem(84); // 라벨 너비 고정
                    color: $gray-900;
                    letter-spacing: rem(-0.5);
                }

                .value {
                    color: $gray-700;
                    letter-spacing: 0;
                }
            }
        }
    }

    // 브랜드 로고
    .footer-brand {
        margin-bottom: rem(20);

        img {
            width: rem(87);
            height: auto;
        }
    }

    // 약관 및 정책 링크
    .footer-links {
        margin-bottom: rem(20);

        .link-row {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: rem(4);

            &::after {
                content: "";
                display: block;
                height: rem(10);
                width: rem(1);
                background-color: $gray-700;
                margin-left: rem(6);
            }

            &:last-child {
                margin-bottom: 0;
            }

            a {
                font-size: rem(11);
                color: $gray-700; // 링크 기본색
                text-decoration: none;
                line-height: 1;

                &.bold {
                    font-weight: $fw-bold;
                    color: $gray-900; // 강조 링크
                }
            }

            &:first-child>a:first-child {
                margin-right: rem(8);
            }

            .sep {
                display: inline-block;
                width: 1px;
                height: rem(10);
                background-color: $gray-300; // 구분선
                margin: 0 rem(8);
            }
        }
    }

    // 사업체 정보
    .company-info {
        font-size: rem(11);
        color: $gray-600; // 기본 텍스트 색상
        line-height: rem(17);
        margin-bottom: rem(17);

        p {
            margin-bottom: 0;
            word-break: keep-all;
        }

        a {
            color: $gray-600;

            &.underline {
                text-decoration: underline;
                color: $gray-900; // 강조 링크
            }
        }
    }

    // 카피라이트
    .copyright {
        font-size: rem(8);
        color: $gray-600;
        font-family: 'Noto Sans KR', sans-serif;
    }
}