// 메뉴 선택 바텀시트
.menu-selection-sheet-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;

    &.is-visible {
        opacity: 1;
        visibility: visible;
    }
}

.menu-selection-sheet {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $white;
    z-index: 1200;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    max-height: 80vh;
    display: flex;
    flex-direction: column;

    &.is-open {
        transform: translateY(0);
    }

    .sheet-title {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: rem(16);

        .title-text {
            font-size: rem(16);
            font-weight: $fw-bold;
            color: $gray-900;
        }

        .btn-sheet-close {
            position: absolute;
            right: rem(16);
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;

            i {
                display: block;
                width: rem(20);
                height: rem(20);
                background-color: $gray-900;
                -webkit-mask-image: url("#{$icon-path}/clear.svg");
                mask-image: url("#{$icon-path}/clear.svg");
                -webkit-mask-size: contain;
                mask-size: contain;
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
            }
        }
    }

    .sheet-body {
        padding: rem(8) 0;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        .menu-list {
            list-style: none;
            margin: 0;
            padding: 0 rem(20);

            li {
                &:first-child {
                    a {

                        border-top: 1px solid $gray-350;
                    }
                }

                a {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: rem(8) rem(12);
                    color: $gray-800;
                    font-size: rem(13);
                    font-weight: $fw-medium;
                    text-decoration: none;
                    border-bottom: 1px solid $gray-350;

                    &.active {
                        background-color: rgba($color-badge-yellow, 0.3);
                        color: $gray-900;
                        font-weight: $fw-bold;
                    }

                    &::after {
                        content: "";
                        display: block;
                        width: rem(6);
                        height: rem(8);
                        background-color: $gray-700;
                        -webkit-mask-image: url("#{$icon-path}/chevron-right.svg");
                        mask-image: url("#{$icon-path}/chevron-right.svg");
                        -webkit-mask-size: contain;
                        mask-size: contain;
                        -webkit-mask-repeat: no-repeat;
                        mask-repeat: no-repeat;
                    }
                }

                &:last-child a {
                    border-bottom: none;
                }
            }
        }
    }
}