@use "sass:math";

.search-overlay-header {
    display: flex;
    align-items: center;
    padding: rem(10) rem(16);
    gap: rem(12);
    border-bottom: 1px solid $gray-350;
    background-color: $white;

    .btn-close-overlay {
        background: none;
        border: none;
        padding: 0;
        width: rem(24);
        height: rem(24);
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: rem(20);
            color: $gray-999; // 피그마 참조 색상
        }
    }

    .search-box {
        flex: 1;
        position: relative;
        display: flex;
        align-items: center;
        background: $gray-50;
        border: 1px solid $gray-600; // PC 스타일: $primary는 노란색임. 피그마 확인 필요하나 일단 PC 따라감
        border-radius: rem(2);
        padding: 0 rem(12);
        height: rem(32);

        .input-search-overlay {
            flex: 1;
            border: none;
            background: transparent;
            outline: none;
            font-size: rem(14);
            color: $black;

            &::placeholder {
                color: $gray-450;
            }

        }

        .btn-search-overlay {
            background: none;
            border: none;
            padding: 0;
            width: rem(24);
            height: rem(24);
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                width: rem(24);
                height: rem(24);
                color: $gray-999;
            }
        }

        .btn-clear {
            background: none;
            border: none;
            padding: 0;
            width: rem(24);
            height: rem(24);
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                width: rem(16);
                height: rem(16);
                margin-right: rem(8);
                color: $gray-600;
            }
        }
    }

    .header-right {
        display: flex;
        align-items: center;
        gap: rem(16);
        z-index: 10;
        flex-shrink: 0;

        a,
        button {
            position: relative;
            padding: 0;
            width: rem(24);
            height: rem(24);

            i {
                font-size: rem(24);
                color: $gray-700;
            }

            .badge {
                position: absolute;
                top: rem(-6);
                right: rem(-8);
                background-color: $color-badge-yellow;
                color: $gray-700;
                font-family: 'Pretendard', sans-serif;
                font-size: rem(10);
                font-weight: 500;
                height: rem(17);
                min-width: rem(22);
                padding: 0 rem(2);
                border-radius: rem(10);
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 1;
                z-index: 1;
            }
        }
    }
}

.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: 2000;
    display: none;
    flex-direction: column;

    &.open {
        display: flex;
    }


    .search-overlay-content {
        flex: 1;
        overflow-y: auto;
        padding-bottom: rem(40);

        .search-dropdown {
            display: block !important;
            box-shadow: none;
            border: none;
            padding: 0;
        }

        .dropdown-section {
            padding: rem(24) rem(20);

            &+.dropdown-section {
                border-top: rem(8) solid $gray-700; // 피그마 구분선 느낌
                border-top-color: $gray-100;
            }

            .section-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: rem(16);

                .section-title {
                    font-size: rem(13);
                    font-weight: $fw-bold;
                    color: $black;
                }

                .btn-delete-all {
                    font-size: rem(12);
                    color: $gray-700;
                    text-decoration: underline;
                    background: none;
                    border: none;
                    padding: 0;
                }

                .update-time {
                    font-size: rem(12);
                    color: $gray-600;
                }
            }
        }

        // 최근 검색어 (태그 스타일 - 피그마 참조)
        .recent-search {
            .recent-list {
                display: flex;
                flex-wrap: wrap;
                gap: rem(8);

                li {
                    display: flex;
                    align-items: center;
                    background: $white;
                    border: 1px solid $gray-200;
                    border-radius: rem(2);
                    padding: rem(6) rem(8) rem(6) rem(12);
                    gap: rem(4);
                    height: rem(28);

                    a {
                        font-size: rem(12);
                        color: $gray-800;
                        white-space: nowrap;
                    }

                    .btn-delete-item {
                        background: none;
                        border: none;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        i {
                            width: rem(12);
                            color: $gray-400;
                        }
                    }
                }
            }

            .no-data {
                padding: rem(20) 0;
                text-align: center;
                color: $gray-600;
                font-size: rem(14);
            }
        }

        // 급상승 검색어 (2컬럼)
        .trending-search {
            .trending-columns {
                display: flex;
                gap: rem(16);

                .sep-line {
                    width: 1px;
                    background: $gray-150;
                }

                .popular-list {
                    flex: 1;
                    min-width: 0;
                    width: 0; // 부모 플렉스 박스 내에서 강제 축소 및 균등 배분 유도

                    li {
                        display: flex;
                        align-items: center;
                        padding: rem(8) 0;
                        gap: rem(4);

                        .rank {
                            width: rem(20);
                            font-size: rem(14);
                            font-weight: $fw-bold;
                            color: $black;
                            text-align: center;
                        }

                        .keyword {
                            display: block; // <a> 태그의 블록화로 말줄임 처리 보장
                            flex: 1;
                            min-width: 0;
                            font-size: rem(12);
                            color: $gray-850;
                            font-weight: $fw-medium;
                            @include ellipsis;
                        }

                        .change {
                            font-size: rem(12);
                            font-weight: $fw-medium;
                            min-width: rem(30);
                            text-align: right;

                            &.up {
                                color: $primary-red;

                                &::before {
                                    content: '▲';
                                    font-size: rem(8);
                                    margin-right: rem(2);
                                }
                            }

                            &.down {
                                color: $color-eclub-blue;

                                &::before {
                                    content: '▼';
                                    font-size: rem(8);
                                    margin-right: rem(2);
                                }
                            }

                            &.new {
                                font-size: rem(10);
                                color: $primary-red;
                                font-weight: $fw-bold;
                            }

                            &.none {
                                width: rem(10);
                                height: 1px;
                                background: $gray-400;
                                min-width: fit-content;
                                margin-left: auto;
                            }
                        }
                    }
                }
            }
        }

        // 자동완성 뷰
        .search-autocomplete-view {
            padding: 0;
            margin-top: rem(16);

            .autocomplete-layout {
                display: flex;
                flex-direction: row;
                padding: rem(16);

                .sep-line {
                    width: 1px;
                    background: $gray-150;
                }
            }

            .matching-list {
                flex: .3;

                li {
                    a {
                        display: block;
                        padding: rem(4) rem(16);
                        padding-left: 0;
                        font-size: rem(12);
                        color: $gray-850;

                        mark {
                            background: none;
                            color: $primary-red;
                            font-weight: $fw-bold;
                        }
                    }

                    &:active {
                        background: $gray-50;
                    }
                }
            }

            .promotion-list {
                flex: .7;
                padding-left: rem(16);

                li {
                    a {
                        display: block;
                        padding: rem(4) rem(16);
                        padding-left: 0;
                        font-size: rem(12);
                        color: $gray-700;

                        mark {
                            background: none;
                            color: $primary-red;
                        }
                    }

                    &.divider {
                        height: 0px;
                        background: $gray-200;
                        margin: rem(12) rem(20);
                    }
                }
            }
        }
    }
}